{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>下載器</h1>
</div>
<form method="POST" action="/">
  {{ form.name.label }}<h2>{% if name %}{{ name }}{% endif %}</h2></br>
  {{ form.author.label }}<h2>{% if author %}{{ author }}{% endif %}</h2></br>
   {{ form.url.label }}<span>{% if url %}{{ url }}{% endif %}</span></br>
  <!-- 提供額外視覺上的重量和識別一組按鈕中主要的操作項目 -->
  <button type="submit" class="btn btn-primary">Download</button>
</form>

{% endblock %}
