{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}小說處理器{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href='./static/css/index.css'}}>
{% endblock %}

{% block page_content %}

<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>下載器</h2>
        </div>
        <div class="panel-body">
          <form class="download" action= {{ url_for('index') }} method="POST" >
            {{ data.form.name.label }}<h2>{{ data.name }}</h2></br>
            {{ data.form.author.label }}<h2>{{ data.author }}</h2></br>
            {{ data.form.url.label }}<span>{{ data.url }}</span></br>
            <button type="submit" class="btn btn-primary btn-block" name="submit" value="download">Download</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>簡體轉繁體</h2>
        </div>
        <div class="panel-body">
          <form class="convert" action={{ url_for('index') }} method="POST">
            <button type="submit" name="submit" class="btn btn-primary btn-block" value="convert">轉換</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
